
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 100vh;
  padding-top: env(safe-area-inset-top);
  padding-bottom: 60px;
}

body {
  font-family: 'Orbitron', sans-serif;
  background: url('Arena.jpg') no-repeat center center fixed;
  background-size: cover;
  color: #fff;
  position: relative;
}

body::after {
  content: "";
  display: block;
  height: 60px;
}

h1 {
  text-align: center;
}

.form-container {
  position: relative;
  z-index: 2;
  max-width: 400px;
  margin: 20px auto;
  background: rgba(17, 17, 17, 0.8);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(255,255,255,0.3);
}

.form-container p {
  text-align: justify;
  line-height: 1.5;
}

form label,
form input[type="text"],
form input[type="email"],
form textarea,
form select,
form select {
  width: 100%;
  display: block;
  text-align: left;
}

select {
  padding: 8px;
  border: 1px solid #666;
  border-radius: 5px;
  background: #222;
  color: white;
  font-family: 'Orbitron', sans-serif;
  text-align-last: center;
}

select option {
  background: #222;
  color: white;
  text-align: center;
}

input[type="text"],
input[type="email"],
textarea {
  padding: 8px;
  border: 1px solid #666;
  border-radius: 5px;
  background: #222;
  color: white;
}

textarea {
  resize: none;
  height: 100px;
}

form input[type="submit"] {
  width: 100%;
  display: block;
  margin-top: 10px;
  background-color: #222;
  color: #fff;
  border: 1px solid #666;
  padding: 10px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 5px;
  transition: 0.3s;
  font-family: 'Orbitron', sans-serif;
  text-align: center;
}

input[type="submit"]:hover {
  background-color: #333;
}
